
<header class="navbar navbar-default navbar-fixed-top navbar-transparent slider-navbar member-header" id="top" role="banner">
	<div class="container-fluid">
	  	<div class="navbar-header col-sm-3">
	  		<h2>Ravi Kiran</h2>
	  	</div>
	  	<div class="collapse navbar-collapse col-sm-9 pull-right">
	  		<ul class="nav navbar-nav">
	  			<li role="presentation"><a href="#">ABOUT</a></li>
				<li role="presentation"><a href="#">SKILLS</a></li>
				<li role="presentation"><a href="#">RESUME</a></li>
				<li role="presentation"><a href="#">BLOG</a></li>
				<li role="presentation"><a href="#">CONTACT</a></li>
				<!-- <li><a href="" class="btn">Sign In</a></li> -->
	 		</ul>	
	  	</div>
	</div>
</header>

<div class="container-fluid raviPage">
		<div class="row">
			<div class="col-sm-12 member-picture" style="height">
				<div class="overlay"></div>
			</div>
			<div class="col-xs-12 col-sm-6 col-sm-push-1 member-heading">
				<div class="jumbotron">
				  <h1>Hello, I'm Ravi Kiran</h1>
				  <p>Front End Developer</p>
				  <p><a class="btn btn-primary btn-lg" href="#" role="button">About Me</a></p>
				</div>
			</div>
						
			<div class="col-xs-12 col-sm-10 col-sm-push-1 aboutMe">
				<div class="row">
					<div class="col-sm-12 col-xs-12">
						<h2>ABOUT ME</h2>
						<hr>
					</div>
					<div class="col-sm-12">
						<p>Am a 24 year old IT Professional passionated for working on Front End development and design.</p>
						<p>Currently working as a Senior Software engineer at CAPGEMINI India Pvt Ltd, Hyderabad for a reputed US bank as my client in area of UI development with a total experience of 2.7 years.</p>
						<p>My responsibilities include day to day updates with Onsite team, project discussion and plans. Development of responsive web pages such as Landing Pages from scratch as required by business requirement and deliver them in time.</p>
						<p>Apart from my profession, I play Table Tennis. Improving my photography skills and watch films.</p>
						<p>I was born at Visakhapatnam and currently reside at Manikonda, Hyderabad</p>

					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-10 col-sm-push-1 skills">
				<div class="row">
					<div class="col-xs-12 col-sm-12">
						<h2>MY SKILLS</h2>
						<hr>
					</div>
					<div class="col-sm-6">
						<p>My Up-to-date working technologies include HTM5, CSS3, Javascript, Angular JS, jQuery, Responsive Design, Bootstrap3, JSON, RESTful Web Services and some modules of Node JS.</p>
						<p>Good debugging skills using BROWSER DEBUGGING TOOLS of Chrome and Firefox.</p>
						<p>Experience in solving cross-browser issues and implementing design of page in older versions of browsers, especially IE8.</p>
						<p>An Oracle Certified JAVA SE6 Professional.</p>
					</div>
					<div class="col-sm-6">
						<h3>HTML5</h3>		
						<div class="progress">
						  	<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
						    </div>
						</div>
						<h3>CSS3</h3>
						<div class="progress">
							<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
							</div>
						</div>
						<h3>JavaScript</h3>
						<div class="progress">
						  	<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
						   	</div>
						</div>
						<h3>Angular JS</h3>
						<div class="progress">
						  	<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
						   	</div>
						</div>
						<h3>jQuery</h3>
						<div class="progress">
						  	<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
						   	</div>
						</div>
						<h3>Bootstrap3</h3>
						<div class="progress">
						  	<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
						   	</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-10 col-sm-push-1 resume">
				<div class="row">
					<div class="col-xs-12 col-sm-12">
						<h2>EXPERIENCE</h2>
						<hr>
					</div>
					<div class="col-xs-12 col-sm-12">
						<div class="row">
							<div class="col-sm-5 col-xs-5 left-res">
								<h3>CAPGEMINI INDIA</h3>
								<h4>Front-End Developer</h4>
								<p>Working as a Senior Software engineer for a reputed US bank as my client in area of UI development with a total experience of 2.7 years.</p>
							</div>
							<div class="col-sm-2 col-xs-2 center-res">
								<span>JULY 2013</span><br>
								<span>-</span><br>
								<span>PRESENT</span>
							</div>
							
							<div class="col-sm-12 col-xs-12">
								<div class="row">
									<div class="col-sm-1 col-sm-push-5 horizontal-res"></div>
								</div>
							</div>

							<div class="col-sm-2 col-xs-2 col-sm-push-5 center-res">
								<span>SEPT 2009</span><br>
								<span>-</span><br>
								<span>APRIL 2013</span>
							</div>
							<div class="col-sm-5 col-xs-5 col-sm-push-5 right-res">
								<h3>ANITS Engg college</h3>
								<h4>Bachelor of Technology</h4>
								<p>Completed B.Tech degree in Computer Science Engg(CSE) from an Andhra University affliated college at Visakhapatnam.</p>
							</div>
							
							<div class="col-sm-12 col-xs-12">
								<div class="row">
									<div class="col-sm-1 col-sm-push-5 horizontal-res"></div>
								</div>
							</div>
							
							<div class="col-sm-5 col-xs-5 left-res">
								<h3>Sri Chaitanya college</h3>
								<h4>IPE</h4>
								<p>Completed a 2 year Intermediate course in field of MPC(Maths,Physics,Chemistry) under Board of Intermediate Education,AP.</p>
							</div>
							<div class="col-sm-2 col-xs-2 center-res">
								<span>APRIL 2007</span><br>
								<span>-</span><br>
								<span>JUNE 2009</span>
							</div>
							
							<div class="col-sm-12 col-xs-12">
								<div class="row">
									<div class="col-sm-1 col-sm-push-5 horizontal-res"></div>
								</div>
							</div>
							
							<div class="col-sm-2 col-xs-2 col-sm-push-5 center-res">
								<span>Childhood</span><br>
								<span>-</span><br>
								<span>MARCH 2007</span>
							</div>
							<div class="col-sm-5 col-xs-5 col-sm-push-5 right-res">
								<h3>Chaitanya Public school</h3>
								<h4>Secondary School of Certificate(SSC)</h4>
								<p>Completed Secondary school of education under Board of Secondary Education,AP.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>
		
