<div class="container-fluid raviPage">
		<div class="row">
			<div class="col-sm-8 col-sm-push-2 slider-navbar">
				<ul class="nav nav-pills nav-justified">
				  <li role="presentation" class="active"><a href="#">About Me</a></li>
				  <li role="presentation"><a href="#">Blog</a></li>
				  <li role="presentation"><a href="#">Gallery</a></li>
				</ul>
			</div>
			<div class="col-sm-10 col-sm-push-1 member-picture">
			</div>
			
			<div class="col-sm-10 col-sm-push-1 aboutMe">
				<div class="row">
					<div class="col-sm-12">
						<div class="row member-details">
							<div class="col-sm-4">Name:</div>
							<div class="col-sm-8">K.Ravi Kiran</div>
							<div class="col-sm-4">Works At:</div>
							<div class="col-sm-8">Capgemini India Pvt Ltd, Hyderabad</div>
							<div class="col-sm-4">Work Profile:</div>
							<div class="col-sm-8">Full Stack Front End(UI) developer</div>
							<div class="col-sm-4">Work Experience:</div>
							<div class="col-sm-8">2.7 years</div>
							<div class="col-sm-4">Lives at:</div>
							<div class="col-sm-8">Manikonda, Hyderabad</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>