
<header class="navbar navbar-default navbar-fixed-top navbar-transparent slider-navbar" id="top" role="banner">
	<div class="container-fluid">
	  	<div class="navbar-header col-sm-3">
	  		<h2>FRIENDY BOLTZ</h2>
	  	</div>
	  	<div class="collapse navbar-collapse col-sm-9 pull-right">
	  		<ul class="nav navbar-nav">
	  			
				<li role="presentation" class="active"><a href="#">About Me</a></li>
				<li role="presentation"><a href="#">Blog</a></li>
				<li role="presentation"><a href="#">Gallery</a></li>
				<li><button class="btn btn-primary">Sign In</button></li>
	 		</ul>	
	  	</div>
	</div>
</header>

<div class="container-fluid raviPage">
		<div class="row">
			<div class="col-sm-12 member-picture">
				<div class="overlay"></div>
			</div>
			
			<div class="col-sm-12 aboutMe">
				<div class="row">
					<div class="col-sm-10 col-push-1">
						<div class="row member-details">
							<div class="col-sm-4">Name:</div>
							<div class="col-sm-8">K.Ravi Kiran</div>
							<div class="col-sm-4">Works At:</div>
							<div class="col-sm-8">Capgemini India Pvt Ltd, Hyderabad</div>
							<div class="col-sm-4">Work Profile:</div>
							<div class="col-sm-8">Full Stack Front End(UI) developer</div>
							<div class="col-sm-4">Work Experience:</div>
							<div class="col-sm-8">2.7 years</div>
							<div class="col-sm-4">Lives at:</div>
							<div class="col-sm-8">Manikonda, Hyderabad</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>