<header class="navbar navbar-default member-header" id="top" role="banner">
	<div class="container-fluid">
	  	<div class="navbar-header col-sm-3">
	  		<h2>Ravi Kiran</h2>
	  	</div>
	</div>
</header>
<div class="detail-blog container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-10 col-sm-push-1">
			<div class="row">
				<div class="text-center col-xs-12 col-sm-12">
					<h1>HTML5 IN SHORT</h1>
				</div>
				<div class="col-xs-12 col-sm-12">
					<p>HTML is markup language for describing web documents.</p>
					<p>HTML stands for Hyper Text Markup Language</p>
					<p>HTML documents are described by HTML tags.</p>
					<p class="text-center">
						<img src="assets/img/HTML-template.png">
					</p>
					<p class="text-center">A sample HTML page</p>
					<p>The above mentioned is the basic structure of a html page.<br>
						The first line is the HTML5 declaration. This conveys which version of HTML your document is using and a critical information for  some processing tools.
						<xmp>
							<html>-- start tag
							</html>-- end tag.
							<title>-- This tag is used for defining the title of document .
							<head>-- This tag is used for declaring all the related script, css files used for building the document.
							<body>-- This tag is the main tag which describes the visible data content.
							All the tags should be always enclosed  between <html></html> tags.
						</xmp>
					</p>
					<P>There are previous versions of HTML.</P>
					<table class="table table-bordered">
  						<thead>
  							<tr>
  								<td>Version</td>
  								<td>Release Year</td>
  							</tr>
  						</thead>
  						<tbody>
  							<tr>
  								<td>HTML</td>
  								<td>1991</td>
  							</tr>
  							<tr>
  								<td>HTML 2.0</td>
  								<td>1995</td>
  							</tr>
  							<tr>
  								<td>HTML 3.2</td>
  								<td>1997</td>
  							</tr>
  							<tr>
  								<td>HTML 4.01</td>
  								<td>1999</td>
  							</tr>
  							<tr>
  								<td>XHTML</td>
  								<td>2000</td>
  							</tr>
  							<tr>
  								<td>HTML 5</td>
  								<td>2014</td>
  							</tr>
  						</tbody>
  						
					</table>
					<p>HTML TAGS:</p>		
					<p>HTML tags mostly come in pairs.<br> The first tag is start tag and second one is called end tag.<br>HTML tags are keywords surrounded by angular brackets.<xmp>
					<tagname>content</tagname></xmp>
					</p>	
					<p>Some widely used tags:</p>
					<li>
						<ol>HTML headings:
							<p>
								<xmp>
									<h1>This is heading</h1>
									<h2>This is heading</h2>
									<h3>This is heading</h3>
									<h4>This is heading</h4>
									<h5>This is heading</h5>
									<h6>This is heading</h6>

									<h1> indicates most important heading 
									<h6> indicates least important heading 
								</xmp>
							</p>
						</ol>
						<ol>HTML paragraphs
							<p>
								<xmp>
									<p>This is  paragraph</p>
									<p>This is  another paragraph</p>
 								</xmp>
							</p>
						</ol>
						<ol>HTML Links:
							<p>
								<xmp>
									<p>HTML links are defined by <a> tags.</p>
									<p><a href="www.google.com">Click here for Google </a></p>
									<p>Clicking on this will redirect to google home page.</p>
									
 								</xmp>
							</p>
						</ol>
						<ol>HTML Images:
							<p>
								<xmp>
									<p>HTML images  are defined by <img> tags.</p>
									<p><img src=”” alt=”My home” width=”100px” height=”100px”>
										‘src’ indicates path of the image .
										‘alt’ indicates text to be shown when image is not loaded properly.
										width , height provides dimensions of the image.
									</p>
									<p>Clicking on this will redirect to google home page.</p>
									
 								</xmp>
							</p>
						</ol>
					</li>

				</div>
			</div>
		</div>
	</div>
</div>
<footer>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-sm-push-3">
				Copyright © 2016 FriendyBoltz. Design by Ravi Kiran.
			</div>
		</div>
	</div>
</footer>